<html>
	<head>
		<title>Welcome to your Gpu store</title>
			<meta charset="utf-8"/>
	</head>
				<body>
					Welcome to the GPU DATABASE Application you can login <a href="{{ login_url }}">here</a>
	</body>
</html>
